@font-face {
	font-family: "roboto";
	src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "roboto-bold";
	src: url("/fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: "roboto-thin";
	src: url("/fonts/Roboto-Thin.ttf");
}

* {
	padding: 0;
	margin: 0;
	font-family: roboto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: lightgreen;
	display: grid;
	grid-template-columns: minmax(200px, 1fr) minmax(400px, 4fr);
}

.sidebar {
	grid-column: 1 / 2;
	background-color: #1692d3;
	color: white;
	padding: 10px;
}

.logo img {
	filter: invert(1);
	width: 35px;
}

.logo h1 {
	font-size: 22px;
}

.item {
	background-color: rgb(35, 110, 249);
}

nav {
	padding-top: 30px;
}

nav a,
.help-links a {
	text-decoration: none;
	color: white;
}

.logo,
nav,
.help-links {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

nav img,
.help-links img {
	filter: invert(1);
	width: 22px;
}

.logo img,
nav img,
.help-links img {
	justify-self: center;
}

.logo h1,
nav a,
.help-links a {
	align-self: center;
}

nav img,
nav a,
.help-links img,
.help-links a {
	padding-bottom: 22px;
}

.help-links {
	margin-top: 35px;
}

.main-content {
	grid-column: 2 / 3;
	background-color: #e2e8f0;
}

.header {
	background-color: white;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 0px 20px;
}

.search-bar {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin: 10px;
	display: flex;
}

.search-bar img {
	width: 18px;
}

.search-bar input {
	width: 500px;
	border-radius: 15px;
	border-style: none;
	background-color: #e2e7f1;
	padding: 5px 10px;
	margin-left: 10px;
	align-self: center;
}

.profile-info {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 20px;
}

#notification-icon {
	width: 20px;
	margin: 10px;
}

#profile-info-icon {
	width: 35px;
	margin: 10px;
}

.profile-info h5 {
	margin: 10px;
	font-size: 16px;
}

.welcome-msg-container {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	align-items: center;
	margin: 10px;
}

.welcome-msg-container img {
	width: 45px;
}

.welcome-msg h5 {
	font-size: 10px;
}

.action-btn-container {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
}

.action-btn-container button {
	background-color: #1692d3;
	border-radius: 20px;
	border: none;
	padding: 8px 0px;
	align-self: flex-start;
	width: 90px;
	color: white;
	margin: 10px;
}

.proj-announcement {
	padding: 12px;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.projects {
	grid-column: 1 / 2;
}

.proj-announcement h3 {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 8px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.cards {
	width: 270px;
	height: 120px;
	border-radius: 6px;
	border-left: 8px solid #ecb229;
	background-color: white;
	padding: 25px 15px;
}

.card-title {
	font-family: roboto-bold;
	font-size: 14px;
}

.card-text {
	font-family: roboto-thin;
	font-size: 12px;
}

.annoucements-trending {
	grid-column: 2 / 3;
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 0 auto;
	gap: 15px;
}

.annoucements {
	grid-row: 1 / 2;
}

.annoucement-card {
	width: 250px;
	height: 270px;
	background-color: white;
	border-radius: 6px;
}

.trending {
	grid-row: 2 / 3;
}

.trending-card {
	width: 250px;
	height: 270px;
	background-color: white;
	border-radius: 6px;
}

.cards,
.annoucement-card,
.trending-card {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
